:root {
	--theme:/*rgb(254, 248, 239)*/#EEE;
}
table {
	border-collapse:collapse;
}
#login_formular {
	float:right;
	margin-right:100px;
}
.dashboard {
	background-color:var(--theme);
	box-shadow: 0px 0px 25px #BBB;
	padding:25px;
	min-height:80vh;
	max-width: 1425px !important;
	margin:auto;
	border-radius: 3px;
}
#WarenzugangSelectCat {
	width:300px;
}
#newStockPopup td {
	padding:5px;
	max-width:300px;
	border:none;
	border-width:1px;
}
#newStockPopup table {
	border:none;
	width:100%;
}
#addCatIcon {
	user-select: none;
	transition: 0.1s;
}
#addCatIcon:hover {
	transform: rotateZ(90deg);
	cursor: pointer;
	transition: 0.25s;
}
#dashboardTable {
	width:100%;
}
#dashboardTable td {
	width:50%;
}
.dashboardTableTitle {
	text-align: center;
	font-size: 30px;
}
.listSortIcon:hover {
	cursor:pointer;
	color:limegreen;
}
.graph {
	height:80%;
	width:100%;
	border:none;
	font-family:Quicksand;
}
.graphTitle {
	text-align: center;
	font-size: 25px;
	color:#666;
}
.item {
	background-color:var(--theme) !important;
	border:solid;
	border-width:1px;
	border-color:#AAA;
	border-style: solid;
}
.chartTable {
	width:90%;
	margin-top:35px;
	font-size: 20px;
}
.chartTable td, .chartTable th {
	color:#555;
}
.chartTable th {
	text-align: left;
	border-bottom:solid;
	border-color:#666;
	border-width: 2px;
}
.chartTableHyphen {
	border-left:solid;
	border-color:#666;
	border-width: 2px;
}
.chartTable td {
	padding:5px;
}
.chartTable .stripe {
	background-color: rgba(0, 0, 0, 0.05);
}
.chartTable thead {

}
.chartTable .material-icons {
	vertical-align: middle;
	float:right;
}
.chartTable .material-icons:hover {
	cursor:pointer;
	color:#28A;
}

@media only screen and (max-width: 1400px) {
	#dashboard {

	}
}

@media only screen and (max-width: 1000px) {
	.grid {

	}
}

/* Required Muuri Layout Engine CSS */

.grid {
	position: relative;
	margin:auto;

}
.item {
	display: block;
	position: absolute;
	height: 300px;
	min-width:200px;
	margin: 5px;
	z-index: 1;
	background-color: #FFF;
	border-radius:8px;
	padding:20px 10px 0px 10px;
}
.item.muuri-item-dragging {
	z-index: 3;
}
.item.muuri-item-releasing {
	z-index: 2;
}
.item.muuri-item-hidden {
	z-index: 0;
}
.item-content {
	position: relative;
	width: 100%;
	height: 100%;
}
.circle {
	font-size:10px !important;
}
