@font-face {
  font-family: Quicksand;
  src: url(/assets/fonts/Quicksand-Regular.ttf);
}
@font-face {
  font-family: Rubik;
  src: url(/assets/fonts/Rubik-Regular.ttf);
}
* {
	outline: none;
}

body {
  font-family:arial;
  margin:0px;
	background-color: #efefef;
}
a {
	text-decoration: none;
}
main {
	padding:75px 30px 0px 100px;
}
#headerList {
  list-style-type:none;
  width:100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222;
  height:75px;
  align-items: center; /* Align-Items und Display-Flex zentrieren Listen-Elemente Vertikal */
  display: flex;
}
#headerLogo {
  height:50px;
}
.headerElement {
  float:left;
  width:calc(100% / 5); /* Divident steht für Anzahl der Header Elemente */
}
.catInput {
	padding:10px;
}
.headerElement a {
  display:block;
  text-align: center;
  color:white;
  font-size:1.5vw;
  text-decoration: none;
}
.logo {
	display:none;
}
