#stockList {
	user-select: none;
	margin:25px;
}
#stockList li {
	list-style-type:none;
	padding:10px 0px;
}
#addSackButton {
	margin-top:10px;
}
#boxContainer {
	width:85vw;
	padding:10px;
	max-width: 1400px;
	min-width: 1000px;
	margin: auto;
	background-color: #EEE;
	border-radius: 6px;
}
.stockItem {
	padding:10px 0px;
	border-radius: 2px;
	transition: 0.1s;

	border-right:solid;
	border-color:rgba(0, 0, 0, 0);
}
.stockItem:hover {
	cursor:pointer;
	border-color:rgb(100, 100, 100);
	transition: 0.2s;
}
.stockItem li {
	font-size:22px;
	padding-right: 10px;
	display:inline;
}
.sackItem {
	padding:5px;
}
.sackItem li {
	display:inline;
	margin-left:15px;
}
.sackList {
	list-style-type:none;
	padding:15px 0px;
}
.itemTitle {
	border:solid;
	display:inline-block;
	width:200px;
	text-align:center;
	border-color:rgba(0, 0, 0, 0);
	background-color: #222;
	color:white;
	font-weight: bold;
	font-size: 22px;
	border-radius: 3px;
	padding:0px 0px !important;
}
.itemTitle:hover {
	color:#222;
	background-color: rgba(0, 0, 0, 0);
	border-color: rgba(40, 40, 40, 255);
}
.sackGewicht {
	width: 35px;
	border:none;
	border-bottom:solid;
	border-width:1px;
	text-align:right;
	font-size:16px;
	background-color: rgba(0, 0, 0, 0);
}
.sackGewicht:hover {
	background-color: #EEE;
	pointer:cursor;
}
.sackGewicht:focus {
	background-color: #FFF;
	outline-width: 0;
}
.deleteSackIcon {
	color:#AAA;
	font-size:14px !important;
	line-height: 0;
	transition: 0.1s;
	user-select: none;
}
.deleteSackIcon:hover {
	color:#E40;
	cursor:pointer;
	transform:rotateZ(90deg);
	transition: 0.1s;
}
.collapse-arrow {
	font-size: 25px !important;
	vertical-align: bottom !important;
	display: inline-flex !important;
}
