.newWarePopup {
	min-width:900px;
	min-height:600px;
	border-radius: 0px;
	font-size:20px;
	padding-left:100px;
}
.newWarePopup ul {
	list-style: none;
	padding:0px;
}
.newWarePopup select {
	min-height:35px;
	min-width:100px;
	padding:10px 20px;
	text-align: center;
	font-size:18px;
	transition: 0.1s;
	color:#666;
}
.newWarePopup select:hover {
	cursor:pointer;
	background-color: #222;
	color:#FFF;
	transition: 0.2s;
}
.newWarePopup option {
	font-size: 20px;
}
.newWarePopup li {
	padding:0px;
	margin: 20px 0px;
}
.newWarePopup .confBtn {
	position: absolute;
	margin:30px;
	margin-left: 100px;
	bottom:0px;
}
.newWarePopup input {
	padding:10px;
	padding-left: 5px;
	width:75%;
	font-size:20px;
	border:none;
	border-bottom:solid;
}
.newWarePopup input:focus {
	background-color: #EEE;
	border-bottom-color:#44F !important;
}
.blackWhiteButton {
	min-height:40px;
	min-width:150px;
	font-size: 20px !important;
}
.newCatBtn {
	font-size: 18px !important;
	color:#666 !important;
	padding:10px 20px !important;
}
.errorMessage {
	color:red;
	font-size:20px;
}
.deleteBtn {
	background-color:var(--red) !important;
	color:white !important;
}
.addBtn {
	background-color:var(--green) !important;
	color:white !important;
}
#newWareDate, #removeWareDate {
	border:none;
	background-color: rgba(0, 0, 0, 0);
	font-size: 20px;
}
#addCatIcon {
	vertical-align: middle;
	margin-left: 5px;
}

#newStockCategory input {
	max-width: 75%;
}
#newCatSub {
	position: absolute;
	margin-left:-150px;
	margin-top:2px;
}
#newWareErrorMessage, #removeWareErrorMessage {
	color:red;
	font-size:20px;
}
option {
	font-size:25px;
}

/* Datatable */
#stockTable {
	box-shadow: 0px 0px 20px #CCC;
	margin-top:30px;
	width:100% !important;
}
#stockTable .alignRight {
	text-align: right;
}
#stockTable .tools {
	text-align: left;
	float:left;
}
#stockTable .add, #stockTable .remove {
	color:#888;
	padding:5px;
	text-align: center;
	font-size: 15px;
	border:solid;
	border-width:1px;
	border-color:rgba(0, 0, 0, 0);
	text-shadow: 0px 0px 1px #555;
}
#stockTable .add:hover, #stockTable .remove:hover {
	cursor:pointer;
	border-color: #222;
	color:#111;
}
#stockTable th {
	font-family:Quicksand;
	text-align: center !important;
}
#stockTable td {
	font-family:Quicksand;
	border-color:#DDD;
}
.dataTables_filter, .advancedFilter, input {
	font-size:20px !important;
	vertical-align: middle;
	font-family:Quicksand;
	padding:5px;
	min-height:40px;
}
.dataTables_filter input {
	background-color: #FFF !important;
	min-height:50px !important;
	border-radius:0px !important;
}
.advancedFilter {
	margin-left: 10px;
	transition: 0.1s;
}
.advancedFilter:focus {
	background-color: #222;
	color:white;
	cursor:pointer;
	transition: 0.1s;
}

@media only screen and (max-width: 1400px) {
	#stockTable {
		width:100% !important;
	}
	.sorting_1 {
		font-size: 16px !important;
	}
	.newWarePopup {
		min-width:800px !important;
	}
	#stockList {
		max-width:800px !important;
	}
	.remove, .add {
		visibility: hidden;
		width:0px;
	}
	#prettydropdown-specFilter {
		margin-top:5px;
		margin-left: 60px;
	}
}
@media only screen and (max-width: 1000px) {
	.remove, .add {
		display:none !important;
	}
	#stockTable {
		font-size: 20px;
	}
	.newWarePopup {
		min-width:700px !important;
	}
	#stockList {
		max-width:700px !important;
	}
	#stockList td {
		font-size:30px !important;
	}
}
