#viewContainer {
	position: relative;
	margin: auto;
	border:none;
	border-top:solid;
	top:25px;
	font-size: 20px;
	border-color:#444;
	max-width:1200px;
	min-width: 600px;
	height:100%;
}
#viewContainer > legend {
	font-size:40px;
	font-family:Quicksand;
	padding:0px 20px;
	margin-bottom:25px;
}
#viewContainer > .viewDivs {
	margin:10px;
}
.dataTables_filter {
	float:inherit !important;
	text-align:inherit !important;
}
